
#avatarIcon {
    width: 10%;
}

#portfolioTitle {
  font-family: 'Bebas Neue', cursive;
  font-size: 16pt;
  color: black;
}

#description {
  font-family: 'Lobster', cursive;
  font-size: 36pt;
}

#descriptIcon {
  height: 200px;
  width: 200px;
}

.nav-link {
  font-family: 'Bebas Neue', cursive;
  font-size: 14pt;
  color: black;
}

.navbar-expand-lg {
  color: red;
}

.projetos {
  background-color: #f7fcec;
}

.content-projetos {
  width: 18rem;
}

.card-header {
  background-color: #F0D2BC;
}

h3.titulo-secao {
  font-family: 'Lobster', cursive;
  font-size: 36pt;
}

img.card-img-top {
  height: 200px !important;
}

.linkProjeto {
  text-decoration: none;
  color: white;
}

.linkProjeto:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.fa, .fas {
  color: #000!important;
}

#divExternaProjects {
  height: 100% !important;
}

.img-fluid {
  height: 200px !important;
}

.lblDesc {
  font-weight: bold;
}

.itens-inline label,
.itens-inline p {
  display: inline;
}

span.page-link {
    border-color: #000 !important;
    background-color: #000 !important;
}

.page-link {
  border-color: #000;
  color: #000;
}

.page-item.active.page-link {
  border-color: #000;
  background-color: #000;
}