{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Backend portfolio by João Victor Rocha">
  <meta name="author" content="João Victor Rocha">
  <link rel="icon" href="{% static 'images/jv.jpg' %}">
  <link rel="stylesheet" href="{% static 'icons/devicon.min.css' %}">

  <title>Portfolio - Joao Victor Rocha</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/resume.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">João Victor Rocha</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'images/jv.jpeg' %}" alt="JV">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Sobre Mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experiências</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Formações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interesses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Cursos e Certificações</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">João Victor
          <span class="text-primary">Rocha</span>
        </h1>
        <div class="subheading mb-5">Betim/MG - Brasil
          <a href="mailto:pereirarochajv@gmail.com">pereirarochajv@gmail.com</a>
        </div>
        <p class="lead mb-5">
            {{ sobre_mim.descricao_completa }}
        </p>
        <div class="social-icons">
          <a href="https://linkedin.com/in/jvpereirarocha" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/jvpereirarocha" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/jvpereirarocha" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://facebook.com/jvpereirarocha">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experiências</h2>

        {% for experiencia in experiencias %}

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">{{experiencia.cargo}}</h3>
            <div class="subheading mb-3">{{experiencia.empresa}}</div>
            <p>
                {{ experiencia.atividades }}
            </p>
          </div>
          <div class="resume-date text-md-right">
            {% if experiencia.atualmente %}
                <span class="text-primary">{{ experiencia.data_inicial|date:"F / Y"}}</span>
            {% else %}
                <span class="text-primary">
                    {{ experiencia.data_inicial|date:"F / Y"}} - {{ experiencia.data_final|date:"F / Y"}}
                </span>
            {% endif %}
          </div>
        </div>

        {% endfor %}

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Formações</h2>

        {% for formacao in formacoes %}
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="resume-content">
                <h3 class="mb-0">{{ formacao.instituicao }}</h3>
                <div class="subheading mb-3">{{formacao.grau}}</div>
                <div>
                    <i class="fas fa-graduation-cap"></i>
                    {{ formacao.curso }}
                </div>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">Concluído em: {{ formacao.data_conclusao|date:"F / Y" }}</span>
              </div>
            </div>
        {% endfor %}

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Habilidades</h2>

        <div class="subheading mb-3">Linguagens de Programação &amp; Ferramentas</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="devicon-html5-plain colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-css3-plain colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-javascript-plain colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-angularjs-plain colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-react-original colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-nodejs-plain colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-express-original colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-python-plain colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-django-plain colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-amazonwebservices-original colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-heroku-original colored"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-docker-plain colored"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Resumo de serviços</div>
        <ul class="fa-ul mb-0">
           <li>
                <i class="fa-li fa fa-check"></i>
                Desenvolvimento e manutenção de aplicações Python
           </li>
           <li>
                <i class="fa-li fa fa-check"></i>
                Desenvolvimento e manutenção de web aplicações e REST API's
                com as tecnologias abaixo.
                <br> <i class="fas fa-th-list"></i> Back-end: Django, Django Rest Framework, Flask, Express
                <br> <i class="fas fa-th-list"></i> Front-end: React, Angular
           </li>
           <li>
                <i class="fa-li fa fa-check"></i>
                Deploy de aplicações no ambiente Amazon e Heroku
           </li>
           <li>
                <i class="fa-li fa fa-check"></i>
                Conteinerização de aplicações utilizando Docker
           </li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
            <div class="w-100">
                <h2 class="mb-5"> Projetos </h2>
                {% for projeto in projetos %}
                    <p class="h2 text-center">
                        <strong> {{ projeto.titulo }} </strong>
                    </p>
                    <figure>
                        <img class="img-thumbnail rounded mx-auto d-block"
                              src="{{ projeto.imagem.url }}" alt="{{ projeto.titulo }}"
                              height="200" width="200">
                    </figure>
                    <div class="description-project">
                        <p>
                            <strong> Descrição: </strong>
                            {{ projeto.descricao }}
                        </p>
                        <p>
                            <strong> Link: </strong>
                            <a href="{{ projeto.link }}" target="_blank"> {{ projeto.link }}</a>
                        </p>
                    </div>
                    <ul class="list-inline">
                        <strong>Tecnologias:</strong>
                        {% for tec in projeto.tecnologias.all %}
                            <li class="list-inline-item"> {{ tec }} </li>
                        {% endfor %}
                    </ul>

                    {% if not forloop.last %}
                        <hr class="m-4">
                        <br> <br>
                    {% endif %}
                {% endfor %}
            </div>
    </section>


    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interesses</h2>
        <p>
            No âmbito pessoal, tenho interesse em esportes em geral
            (futebol, basquete e futebol americano principalmente). Gosto de assistir séries e filmes
            Sou um apaixonado da cultura latina e amante da língua espanhola
        </p>
        <p class="mb-0">
            Sobre idiomas, além do português, sou fluente em espanhol e tenho inglês intermediário
        </p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Cursos &amp; Certificações</h2>
        <ul class="fa-ul mb-0">
            {% for certificado in certificados %}
                  <li>
                    <i class="fas fa-award"></i>
                    {{ certificado.descricao }}
                    <br>
                    {{ certificado.instituicao }}
                  </li>
                  {% if not forloop.last %}
                      <br>
                  {% endif %}
             {% endfor %}
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'js/jquery/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/resume.min.js' %}"></script>

</body>

</html>
